.login-container {
    -fx-background-color: #fffbde;
    -fx-alignment: center;
    -fx-font-family: "Arial";
}

.form-container {
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-alignment: center;
}

.field-container {
    -fx-spacing: 10;
    -fx-alignment: top-center;
}

.login-container Label {
    -fx-font-size: 24;
    -fx-text-fill: #264E49;
}


.field-container Label {
    -fx-font-size: 14;
}

.field-container TextField {
    -fx-background-color: #FFFFFF;
    -fx-font-size: 12;
    -fx-prefheight: 25;
}

.field-container PasswordField {
    -fx-background-color: #FFFFFF;
    -fx-font-size: 12;
    -fx-prefheight: 25;
}

.field-container Button {
    -fx-font-size: 12;
    -fx-background-color: #dde0bd;
}

.field-container Button:hover {
    -fx-cursor: hand;
}

.logo-container {
    -fx-background-color: #264E49;
    -fx-font-family: "Segoe UI Light";
    -fx-alignment: center;
}

.logo-container Label {
    -fx-text-fill: #fffbde;
    -fx-font-size: 32;
}