.menu-container {
    -fx-background-color: #dde0bd;
    -fx-alignment: top-center;
    -fx-font-family: "Arial";
}

.logo-container {
    -fx-font-family: "Segoe UI Light";
    -fx-alignment: center;
}

.logo-container Label {
    -fx-text-fill: #264E49;
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

.menu-item {
    -fx-font-size: 24;
    -fx-alignment: top-center;
    -fx-padding: 10 0 10 0;
    -fx-spacing: 25;
}

.menu-item Button {
    -fx-background-color: #264E49;
    -fx-text-fill: #dde0bd;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-pref-width: 150;
    -fx-padding: 10 20 10 20;
    -fx-border-radius: 5;
}

.menu-item Button:hover {
    -fx-cursor: hand;
}